# Pillar file complet optional
# hostname may be one as string
# or multiple as dict

hosts:
  test1:
    host_absent: False
    hostnames:
      - test1.examlpe.com
      - test2.example.com
    ip: 192.168.1.101

  test2:
    host_absent: False
    hostnames: test3.example.com
    ip: 8.5.5.5

  test3:
    host_absent: True
    hostnames:
      - test4.example.com
      - test5.example.com
    ip: 8.5.5.7
